{% extends 'base.html.twig' %}


{% block title %}RGPD{% endblock %}


{% block body %}
<div class="container mt-5">
<h1>Données personnelles & RGPD</h1>


<p>
Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez des droits suivants :
Il est possible de demander la suppression anticipée de vos données en nous contactant.
Possible de modifier vos données personnelles. SANS accée au mot de passe de l'Utilisateurs.
Possile de gardre vos données pour une durée maximale de 1 ans. Au delà, elles sont supprimées automatiquement.
Pour plus d'informations, veuillez nous contacter. Mais nous ne vendons pas et ne partageons pas vos données avec des tiers.
Le site protegge vos données conformément au RGPD. il vous suffit de nous contacter.Et nous répondrons à votre demande dans les plus brefs délais.

</p>


<ul>
<li>Droit d’accès</li>
<li>Droit de rectification</li>
<li>Droit à l’effacement</li>
<li>Droit d’opposition</li>
<li>Droit à la portabilité</li>
</ul>


<p>
Pour exercer vos droits, contactez-nous à :
<a href="mailto:contact@monsite.com">contact@monsite.com</a>
</p>
</div>
{% endblock %}