{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

{{app.user.email}}

<p>bonjour  {{app.user.username}}</p>

<H2>Mes Commandes</H2>
{% if commandes is not empty %}

{% for item in commandes %}

    {{ item }}
{% endfor %}
{% endif %}



{% endblock %}
