
{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Mentions légales</h1>

    <h3>Éditeur du site</h3>
    <p>
        <strong>BTP Consulting</strong><br>
        Statut : S.A<br>
        SIRET : 10097220988<br>
        Adresse : 23 Impasse Marteau<br>
        Email : contact@monsite.com
    </p>

    <h3>Hébergement</h3>
    <p>
        Hébergeur : [OVH / Ionos / Autre]<br>
        Adresse : [Adresse de l’hébergeur]
    </p>

    <h3>Propriété intellectuelle</h3>
    <p>
        L’ensemble du contenu du site est protégé par le droit d’auteur. Toute reproduction est interdite sans autorisation.
    </p>

    <h3>Responsabilité</h3>
    <p>
        BTP Consulting ne saurait être tenu responsable des dommages directs ou indirects liés à l’utilisation du site.
        L'entreprise s'engage à maintenir le site accessible, mais ne garantit pas l'absence d'erreurs ou d'interruptions.
        Il peut modifier ou supprimer des informations sans préavis.Mais n'a aucune accée aus mot de passe des utilisateurs.
        Avec l'accord des utilisateurs, BTP Consulting peut collecter des données à des fins d'amélioration du service.
    </p>
</div>
{% endblock %}
