<form method="post" action="{{ path('app_product_delete', {'id':  admin_category_controller.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin_category_controller.id) }}">
    
    <button class="btn btn-danger btn-sm" title="Supprimer">
        <i class="fa-solid fa-xmark"></i>
    </button>
</form>
