{% extends 'base.html.twig' %}

{% block title %}AdminCategoryController index{% endblock %}

{% block body %}
    <h1>AdminCategoryController index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin_category_controller in admin_category_controllers %}
            <tr>
                <td>{{ admin_category_controller.id }}</td>
                <td>
                    <a href="{{ path('app_admin_category_show', {'id': admin_category_controller.id}) }}">show</a>
                    <a href="{{ path('app_admin_category_edit', {'id': admin_category_controller.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_category_new') }}">Create new</a>
{% endblock %}
