{% extends 'base.html.twig' %}

{% block title %}New AdminCategoryController{% endblock %}

{% block body %}
    <h1>Create new AdminCategoryController</h1>

    {{ include('admin_category/_form.html.twig') }}

    <a href="{{ path('app_admin_category_index') }}">Retour à la liste</a>
{% endblock %}
