{% extends 'base.html.twig' %}


{% block title %}Politique de confidentialité{% endblock %}


{% block body %}
<div class="container mt-5">
<h1>Politique de confidentialité</h1>


<p>
Cette politique explique comment vos données personnelles sont collectées et utilisées.
</p>


<h3>Données collectées</h3>
<ul>
<li>BTP_Consulting</li>
<li>moussasanne02@gmail.com</li>
<li>Message via formulaire de contact</li>
</ul>


<h3>Utilisation des données</h3>
<p>
Les données sont utilisées uniquement pour répondre à vos demandes.
Les données peuvent etre suprimer ou modifier sans eu accée au mot de passe de l'Utilisateurs.
Le site ne vend pas et ne partage pas vos données avec des tiers. Il protegge vos données conformément au RGPD.

</p>


<h3>Durée de conservation</h3>
<p>
Les données sont conservées pour une durée maximale de 1 ans.
Au delà, elles sont supprimées automatiquement.
Il est possible de demander la suppression anticipée de vos données en nous contactant.
</p>
</div>
{% endblock %}