{% extends 'base.html.twig' %}

{% block title %}Nouveau AdminUserController{% endblock %}

{% block body %}
    <h1>Creer nouveau AdminUserController</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}">Retour à la liste</a>
{% endblock %}
